<form>

  <div data-action="drop">{{localize "SimpleLootList.DropItem"}}</div>

  <section>
    <header class="currency-header">
      {{localize "SimpleLootList.Currencies"}}
    </header>
    <ol class="currency-list">
      {{#each currencies}}
      <li class="currency">
        <label>{{label}}</label>
        <input type="text" data-key="{{key}}" name="flags.simple-loot-list.currencies.{{key}}" value="{{value}}">
      </li>
      {{/each}}
    </ol>
  </section>

  <section>

    <header class="item-header">
      <div class="header-quantity">{{localize "SimpleLootList.Quantity"}}</div>
      <div>{{localize "SimpleLootList.Item"}}</div>
    </header>

    <ol class="item-list">
      {{#each lootItems}}
      <li class="item" data-uuid="{{uuid}}">
        <div class="item-quantity"><input type="text" value="{{quantity}}"></div>
        <a data-action="render">{{name}}</a>
        <a data-action="delete"><i class="fa-solid fa-trash"></i></a>
      </li>
      {{/each}}
    </ol>

  </section>

  <div class="flexrow">
    <button data-action="submit" type="submit">
      <i class="fa-solid fa-save"></i> {{localize "SimpleLootList.SaveList"}}
    </button>

    <button data-action="grant" type="button">
      <i class="fa-solid fa-bullseye"></i> {{localize "SimpleLootList.GrantToTarget"}}
    </button>

    <button data-action="clear" type="button">
      <i class="fa-solid fa-eraser"></i> {{localize "SimpleLootList.Clear"}}
    </button>
  </div>

</form>
