<form>

  <div class="item-list-add">
    <div class="ondrop-box">{{localize "SIMPLE_LOOT_LIST.LABEL.DROP_ITEM"}}</div>
  </div>

  <section class="currency-section">
    <header class="currency-header">
      {{localize "SIMPLE_LOOT_LIST.LABEL.CURRENCY"}}
    </header>
    <ol class="currency-list">
      {{#each currencies as |currency|}}
      <li class="currency">
        <div class="currency-label">{{currency.label}}</div>
        <input type="text" data-key="{{currency.key}}" name="flags.simple-loot-list.currencies.{{currency.key}}" value="{{currency.value}}">
      </li>
      {{/each}}
    </ol>
  </section>

  <section class="item-section">

    <header class="item-header">
      <div class="header-quantity">{{localize "SIMPLE_LOOT_LIST.LABEL.QUANTITY"}}</div>
      <div class="header-name">{{localize "SIMPLE_LOOT_LIST.LABEL.ITEM"}}</div>
    </header>

    <ol class="item-list">
      {{#each lootItems as |item|}}
      <li class="item">
        <div class="item-quantity">
          <input type="text" value="{{item.quantity}}">
        </div>
        <div class="item-name" data-pack="{{item.pack}}" data-id="{{item.id}}" data-uuid="{{item.uuid}}">
          {{item.name}}
        </div>
        <a class="item-delete">
          <i class="fa-solid fa-trash"></i>
        </a>
      </li>
      {{/each}}
    </ol>

  </section>

  <div class="item-list-button-row flexrow">
    <button name="submit" type="submit">
      <i class="fa-solid fa-save"></i> {{localize "SIMPLE_LOOT_LIST.LABEL.SAVE"}}
    </button>

    <button name="grant" type="button">
      <i class="fa-solid fa-bullseye"></i> {{localize "SIMPLE_LOOT_LIST.LABEL.GRANT"}}
    </button>

    <button name="clear" type="button">
      <i class="fa-solid fa-eraser"></i> {{localize "SIMPLE_LOOT_LIST.LABEL.CLEAR"}}
    </button>

    <button name="cancel" type="button">
      <i class="fa-solid fa-times"></i> {{localize "SIMPLE_LOOT_LIST.LABEL.CANCEL"}}
    </button>
  </div>

</form>
